      <!--footer-->
      <section class="footer" id="footer">

        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <p>
                <a href="https://jaigouk.com" target="_blank">
                  &copy; <%= Time.now.year %> - jaigouk.com
                </a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="https://gitlab.com/jaigouk/galore" target="_blank">
                  source code
                </a>
              </p>
              </div>
            </div>
          </div>
      </section>
