<header>
  <div class="jumbotron jumbotron-fluid" id="banner">
    <div class="parallax text-center" style="background-image: url(assets/cover.jpg);">
      <div class="parallax-pattern-overlay">
        <div class="container text-center" id="size-banner">
          <a href="#"><img id="site-title" src="assets/logo.png" alt="logo"/></a>
          <h2 class="display-2">Fulltext Search</h2>
          <h3 class="learn">and autocomplete </h3>
        </div>
      </div>
    </div>
  </div>
</header>
