<header>
  <nav class="navbar navbar-dark bg-inverse" style="background-color: #563d7c;">

  <!-- Brand -->
  <a class="navbar-brand" href="/">SearchWith</a>

  <!-- Links -->
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/elastic">Elastic Search</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="/solr">Solr</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="/materilized_view">Materialized View</a>
    </li>
  </ul>
  </nav>
</header>
