<div class="container">
	<h2>Benchmarking Search Options for Rails</h2>

	<a href="https://gitlab.com/jaigouk/search-with/commits/master" class="badge">
		<img src="https://gitlab.com/jaigouk/search-with/badges/master/build.svg" style="height: 20px;">
	</a>

  <a href="https://codebeat.co/projects/github-com-jaigouk-search-with" class="badge">
    <img alt="codebeat badge" src="https://codebeat.co/badges/8bb5880c-5ccf-456a-98cf-dbe65b722a95" style="height: 20px;"/>
  </a>

	<a href="https://codeclimate.com/github/jaigouk/search-with" class="badge">
    <img src="https://codeclimate.com/github/jaigouk/search-with/badges/gpa.svg" style="height: 20px;"/></a>

  <a href="https://codeclimate.com/github/jaigouk/search-with/coverage"  class="badge">
    <img src="https://codeclimate.com/github/jaigouk/search-with/badges/coverage.svg" style="height: 20px;"/>
  </a>

	<ul>
		<li>create a very simple app that has some "activity" records with various attributes</li>
		<li>a user should be able to check/uncheck boxes on the left filter panel</li>
		<li>activity records on the right activity table update via javascript.</li>
		<li>benchmarking data for using famous search methods</li>
	</ul>

	<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Method</th>
      <th>Gem</th>
      <th>Addon</th>
      <th>Mean Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Elastic Search</td>
      <td>Searchkick</td>
      <td>Bonsai</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Solr</td>
      <td>Sunspot</td>
      <td>Websolr</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Algolia</td>
      <td>Algolia</td>
      <td>Algolia</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Materialized View with Redis</td>
      <td>Scenic, Hiredis</td>
      <td>Rediscloud</td>
      <td>-</td>
    </tr>
  </tbody>
</table>
</div>
