<div class="container">
	<h2>Benchmarking Search Options for Rails 5</h2>

	<a href="https://gitlab.com/jaigouk/search-with/commits/master" class="badge">
		<img src="https://gitlab.com/jaigouk/search-with/badges/master/build.svg" style="height: 20px;">
	</a>

  <a href="https://codebeat.co/projects/github-com-jaigouk-search-with" class="badge">
    <img alt="codebeat badge" src="https://codebeat.co/badges/8bb5880c-5ccf-456a-98cf-dbe65b722a95" style="height: 20px;"/>
  </a>
  <br/>
  <br/>
  <h4>Motivation</h4>
  Because I wanted to know the basic heroku dyno's performance.

  <br/>
  <br/>
  <h4>Description</h4>

	<ul>
		<li>create a very simple app that has some "activity" records with various attributes</li>
		<li>a user should be able to check/uncheck boxes on the left filter panel</li>
		<li>activity records on the right activity table update via javascript.</li>
		<li>benchmarking data for using famous search methods</li>
	</ul>

  <h4>Result</h4>
  <% if @benchmark %>
    <pre class="language-bash">
      <code class="language-bash">
        <% @benchmark.entries.each do |entry| %>
        <%= entry.strip %><br/>
        <% end %>
        <%= @benchmark.result %>
      </code>
    </pre>
    <% end %>
</div>
